<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <title>TODO</title>
  </head>

  <body>

    <div id="app">
      <h1>TODO LIST</h1>

      <label v-for="label in options">
        <input type="radio" v-model="current" v-bind:value="label.value">{{ label.label }}
      </label>

      （{{ computedTodos.length }} 件を表示）
      <table>
        <thead v-pre>
          <tr>
            <th class="id">ID</th>
            <th class="comment">Comment</th>
            <th class="state">State</th>
            <th class="button">-</th>
          </tr>
        </thead>
        <tbody>

          <tr v-for="item in computedTodos" v-bind:key="item.id" v-bind:class="{done:item.state}">
            <th>{{ item.id }}</th>
            <td>{{ item.comment }}</td>
            <td class="state">
              <button v-on:click="doChangeState(item)">
                {{ labels[item.state] }}
              </button>
            </td>
            <td class="button">
              <button v-on:click="doRemove(item)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <h2>New</h2>
      <form class="add-form" v-on:submit.prevent="doAdd">
        Comment <input type="text" ref="comment">
        <button type="submit">Create</button>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>

</html>